<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      Retail Off
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title color="primary">Tu Cuenta</ion-card-title>
    </ion-card-header>
    
    <p>Aqui podrá revisar sus movimientos</p>

    <ion-card-content>
      <img src="../assets/img/card.png">

      <ion-button expand="full" routerLink="/login">Iniciar Sesion</ion-button>
      <h2 class="Sans Serif">-------------------------------</h2>
      <br>
      <p>¿Aun no te registras con nosotros?</p>
      <h2 class="Sans Serif"> </h2>
      <ion-button expand="full" routerLink="/registro" style="background-color: #800080; color: #ffffff; font-size: 14px;">Registrate</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
